.edit-translation-wrap {
    position: relative;
}

textarea, .text-area, .text-area textarea {
    width: 100%;
    height: 15rem;
}

.readonly-textarea {
    color: #777;
}

.slds-textarea {
    height:100px !important;
}

.edit-raw-wrap {
    top: 0;
    right: 0;
    z-index: 1;
}