.spinnerModalContStyle{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 20%;
}

.spinnerContStyle{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
}

.StyleConfirmMsg{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.nextButtonStyle {
    text-align: center;
    margin-top: 3%;
}

.headerInfo{
    text-align: left;
    margin-top : 1%;
    margin-bottom: 2%;
}

.borderBox{
    border-color: gray;
}