:host {
    --sds-c-slider-track-color-background: #808080;
    --sds-c-slider-thumb-color-foreground: black;
    

}

.spinnerContStyle{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
}

.nextButtonStyle {
   text-align: right;
  }
.previousButtonStyle {
    text-align: left;
    position: absolute;
}


.emptySpace {
    
    padding-top: 0.8rem;
    position: relative;
}

.picklistStyle{
    padding-bottom: 1rem;
}