.upload-id-text-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.upload-id-title, .upload-id-sub-title {
    width: max-content;
    height: 25px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #191009;
}
.upload-id-sub-title {
    font-size: 16px;
    color: #787673;
}