@page :first {
	margin-top: 45px;
}
@page {
	size: A4;
	margin-top: 110px;
	margin-left: 30px;
	margin-bottom: 150px;
	padding-top: 50px;
	margin-right: 40px;
	@top-center {
		
		content: element(header);
	}  
	@bottom-center {
		margin-bottom: -70px;
		font-family: Arial Unicode MS, sans-serif;
		content: element(footer);
	}
}

#header{
	position: running(header);	
}

.header_company{
	background-color: #000000;
	
}
	 
#footer_content {
	position: running(footer);
	padding-bottom: 2px;
	text-align: center;
	font-size: 5.5pt;
	color: #B2ADA7;
	font-family: Arial Unicode MS, sans-serif;
}

.head {
	font-family: Arial Unicode MS, sans-serif;
	margin-top: 60px !important;
}

body {
	font-family: Arial Unicode MS, sans-serif;
	color: #46474a;
}

.spacer {
	height: 42px;
}

/*
-triggers error
.logo_header {
	position: absolute;
	top: -64px;
	left: 213px;
}*/

.head {
	margin-top: 18px;
	margin-bottom: 20px;
}

.head td {
	text-align: center;
	color: #B2ADA7;
}

.footer_text, .head {
	font-size: 5pt;
}

table {
	width: 100%;
}

.billing_contact_importer, .metadata_delivery_contact, .articles, .sum {
	font-size: 10px;
	line-height: 11px;
	
}

th {
	text-align: left;
	font-weight: normal;
}

.articles {
	margin-top: 6px;
}

.align-right {
	text-align: right;
}

.border_bottom {
	border-bottom: 1px solid #000000;
}

.border_top {
	border-top: 1px solid #000000;
}

.articles td {
	vertical-align: top;
}

.sum {
	margin-left: 280px;
	width: 390px;
	padding-top: 22px;
}

.footer_text {
	padding-top: 30px;
}

.content {
	margin-left: 40px;
	font-size: 10px;
	line-height: 11px;
	
}

#correctiveInvoiceMessage {
	margin-top: 10px;
	width: 100% !important;
	text-align:center;
	font-size: 10px; 
	text-transform: uppercase;
	
}

.italicbold{

	font-style: italic !important; 
}

